/* ベースグループ =====================================================================================*/
.alert-text {
	color: red;
	font-size: large;
}


/* レイアウトグループ =====================================================================================*/

p {
   margin: 0.4em 0px;  /* pタグの上下の幅を変更 */
}

.ly_body {
	background: linear-gradient(to bottom right, #FFF, #A0D8EF);
}

.ly_contents {
	margin-left: auto;
    margin-right: auto;
    width: 36em; /*デフォルトは8em*/
	
    padding: 30em 6em;

    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

#ly_position_logoutButton_upperRight_1 {
	position: absolute;
	top: 25px;
	right: 35%;
}

#ly_position_logoutButton_upperRight_2 {
	position: absolute;
	top: -75px;
	right: -310%;
	z-index: 2;
}

#ly_position_debuglValue1 {
	position: absolute;
	top: 10px;
}

#ly_position_debuglValue2 {
	position: absolute;
	top: 30px;
}

.checkbox_margin {
	margin: 1em 0px 1em;  /*上 左右 下 変更 */
}

.button_margin {
	margin: 1.5em 0px 1em;  /*上 左右 下 変更 */
}

/*モジュールグループ =====================================================================================*/

.loginButton_design, 
.signupButton_design, 
.logoutButton_design {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 280px;
    padding: 6px 20px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.loginButton_design:hover, 
.signupButton_design:hover, 
.logoutButton_design:hover {
    background: #313131;
    color: #FFF;
}

.loginButton_design:after, 
.signupButton_design:after, 
.logoutButton_design:after {
    content: '';
    width: 5px;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.loginButton_design:hover:after, 
.signupButton_design:hover:after, 
.logoutButton_design:hover:after {
    border-color: #FFF;
}

h1.fontsize_xxlarge {
	font-size: xx-large;
}

h1.fontsize_xlarge {
	font-size: x-large;
}

h1.fontsize_large {
	font-size: large;
}

h1.fontsize_medium {
	font-size: medium;
}

/*ページごとの設定 =====================================================================================*/
/* index.php -------------------------------------------------------------------------------------*/

#pagename_index .position_alert_top {
	position: absolute;
	top: 60px;
}

#pagename_index #position_hello {
	position: absolute;
	top: 100px;	
}

#pagename_index #position_loginForm1 {
	position: absolute;
	top: 100px;
}

#pagename_index #position_loginForm2 {
	position: absolute;
	top: 200px;

}

#pagename_index #position_signUpForm1 {
	position: absolute;
	top: 500px;

}

#pagename_index #position_signUpForm2 {
	position: absolute;
	top: 550px;

}

/* logout.php -------------------------------------------------------------------------------------*/
#pagename_logout #position_logout {
	position: absolute;
	top: 50px;
}

/* main.php -------------------------------------------------------------------------------------*/

#pagename_main #position_text1 {
	position: absolute;
	top: 70px;	
}
